<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8 />
    <title>sqwidge</title>
    
    <!-- <script src=standalone.js></script>
        add this when loading the template in its own sandboxed document (e.g. as the parent window document); adds global methods like Sqwidget, require and init -->
        
    <script>
        require('aomi', 'nitelite'); // loads aomi, nitelite and toggle scripts as a single static file - http://assets.example.com/aomi+nitelite+toggle.js - (specified as an alphabetical listing of scripts)
        
        (function init(data){}());
        // the function closure would be optional - but *if* the function was executed from within a closure, then it would still work as expected
        // data arg is optional, and sent via the optional second parameter to the Sqwidget() constructor - e.g. Sqwidget('sqwidge.html', {foo:'bar'}, 0.1);
    </script>
    
    <style>
        /* styling to go in the <head> of the main widget iframe */
        width:100%;
        min-width:186px;
        max-width:300px;
        height:300px;
    </style>
</head>

<body>
    <h1>default view</h1>
    <p>blah</p>
    
    <ul>
        <li>thing</li>
        <li><% process(thing); %>
        <li><%= this.stuff %></li>
    </ul>

    <footer>yada</footer>
    
    <script type=text/template id=lightbox>
        // the lightbox sub-template for this instance of the widget
        <head>
            <script>
                require('aomi', 'nitelite');
                (function init(data){}());
            </script>
            <link rel=stylesheet href=lightbox.css>
            <style></style>
        </head>
        <body>
            <div>detail</div>
        </body>
    </script>
    
    <script type=text/template id=somekindofui>
        // a random sub-template
        <body>
            <h1>do</h1>
            <form action=contact>
                <input id=bing type=submit>
            </form>
        </body>
    </script>
</body>
</html>
