* {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
body {
	background-color: rgba(63,92,34,0.27);
}

div#twitter_processor_1 {
	width: 300px;
	color: #707170;
}

div#showmsg1 {
	width:300px;	
}
div#current_search {
    width: 300px;
    float:right;
}

div.curr_search_txt {
	font-size: small;
	color: #87989e;
}

div.use_note {
	font-size: x-small;
	color: #87989e;	
}