* {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
body {
	background-color: rgba(63,92,34,0.27);
}

abbr[title] {
    cursor:help;
}

div#twitter_processor_1 {
	width: 300px;
	color: #707170;
}

div#search_history_1 {
	width:150px;
	font-size: small;	
}
div#current_search {
    width: 300px;
    float:right;
}

div.curr_search_txt {
	font-size: small;
	color: #87989e;
}

div.use_note {
	font-size: x-small;
	color: #87989e;	
}

div#tweet_display_surround {
    float:right;
    width:400px;
    top: 120px;
    right: 20px;
    position: absolute;
    font-size:small;
}

a.search_history_item {
	list-style-type: none;
}

ul.tweet_list {
	padding-top: 2em;
    overflow:auto;
    height:35em;
}

div.tweet {
	position: relative;
}

#tweet_display ul.tweet_list li div.tweet div.hentry {
position:relative;
width: 280px;
left: 55px;
top: -57px;
}

#tweet_display ul.tweet_list li {
	list-style-type: none;
	height: 80px;
	
}

