{
  "name": "{%= name %}",
  "version": "{%= version %}",
  "private": true,
  "ignore": [
    "**/.*",
    "node_modules",
    "lib",
    "test",
    "tests"
  ],
  "dependencies": {
    "ractive": "~0.3.7",
    "sqwidget": "~2.0.3"
  }
}
