{
  "name": "{%= name %}",
  "version": "{%= version %}",
  "private": true,
  "ignore": [
    "**/.*",
    "node_modules",
    "src/lib",
    "test"
  ],
  "dependencies": {
    "require-css": "~0.1.0",
    "requirejs-i18n": "~2.0.4",
    "requirejs-text": "~2.0.10",
    "lodash-amd": "~2.3.0",
    "ractive": "~0.3.7",
    "requirejs-ractive": "https://github.com/RactiveJS/requirejs-ractive.git#~0.1.3"
  }
}
